.detailContainer {
  font-family: "Roboto", sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.detailHeading {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.detailItem {
  display: flex;
  margin-bottom: 10px;
  margin-left: 10px;
}

.detailLabel {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  color: rgb(4, 0, 0);
  background-color: aquamarine;
  background-size: 10px;
}

.detailValue {
  font-size: 18px;
  color: rgb(0, 0, 0);
  background-color: aquamarine;
  background-size: 10px;
  flex: 2;
}

.detailImage {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border: 1px solid #ab19dc;
  border-radius: 5px;
}

.activitiesTitle {
  margin-top: 20px;
  color: #FFF;
  font-family: Gabriela;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.activitiesHeader {
  color: black;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; /* Alineamos el encabezado al centro */
}

.activitiesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 20px auto; /* Centramos las cards de actividades */
}

.activityCard {
  background-color: #912f89;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}

.activityCard > h3 {
  margin-bottom: 5px;
}

.activityDetails {
  margin: 5px 0;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}

.editButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.editButton:hover {
  background-color: goldenrod;
}

.deleteButton {
  background-color: transparent;
  color: red;
  background: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.deleteButton:hover {
  color: white;
  background-color: red;
}

.buttonBack {
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-right: 10px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.buttonBack:hover {
  background-color: #fff;
  color: #f8f8f8;
}