.detailContainer {
  font-family: "Roboto", sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.detailHeading {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.detailItem {
  display: flex;
  margin-bottom: 10px;
  margin-left: 10px;
}

.detailLabel {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  color: rgb(4, 0, 0);
  background-color: aquamarine;
}

.detailValue {
  font-size: 18px;
  color: rgb(0, 0, 0);
  background-color: aquamarine;
  flex: 2;
}

.detailImage {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border: 1px solid #ab19dc;
  border-radius: 5px;
}

.activity {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.activityColumn {
  flex: 1;
  margin-right: 10px;
}
