.small{
  color: #fff;
}

.noCounty{
  color: #fff;
  font-size: 24px;
}

.select-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.select {
  padding: 8px;
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  background-color: #42424278;
  color: #ffffff;
  transition: border-color 0.3s ease;
}


.select:focus {
  border-color: #0056b3;
}


.search-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.search-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .filters {
    flex-direction: column;
  }

  .select-container {
    margin-bottom: 5px;
  }

  .select {
    width: 100%;
  }
}
