.cardsContainer {
  /* background-image: url(./descarga.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-auto-rows: auto; 
    gap: 15px; 
    max-width: 1800px;
    margin: 3rem auto 2rem;
  }
  