.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: -0.5rem;
   /* position: fixed; */
}

.paginate button[disabled] {
  cursor: not-allowed;
}

.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

@media screen and (max-width: 768px) {
  .paginate button {
    font-size: 0.9rem;
    padding: 4px 8px;
  }
}
